<h1>第一个属性指令</h1>

<h4>选择高亮颜色</h4>

<div>
    <input type="radio" name="colors" (click)="color='lightgreen'">Green
    <input type="radio" name="colors" (click)="color='yellow'">Yellow
    <input type="radio" name="colors" (click)="color='red'">red
</div>

<!--<p appHighlight>高亮001</p>-->

<!--<p appHighlight highlightColor="color">高亮001 yellow</p>-->
<!--<p appHighlight [highlightColor]="'color'">高亮001 orange</p>-->

<!--<p appHighlight highlightColor="'color'">Highlighted in yellow</p>-->

<!--<p appHighlight [highlightColor]="color">Highlighted in orange</p>-->

<!--<p [appHighlight]="color">Highlight me!</p>-->

<p [appHighlight]="color">Highlight me!</p>

<p [appHighlight]="color" defaultColor="violet">
    Highlight me too!
</p>

<hr>
<p><i>Mouse over the following lines to see fixed highlights</i></p>

<p [appHighlight]="'yellow'">Highlighted in yellow</p>
<p appHighlight="orange">Highlighted in orange</p>
