<nz-layout class="layout">
    <nz-header>
        <div class="logo"></div>
        <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;">
            <li nz-menu-item>nav 1</li>
            <li nz-menu-item>nav 2</li>
            <li nz-menu-item>nav 3</li>
        </ul>
    </nz-header>
    <nz-content style="padding:0 50px;">
        <nz-breadcrumb style="margin:16px 0;">
            <!--<nz-breadcrumb-item>Home</nz-breadcrumb-item>-->
            <!--<nz-breadcrumb-item>List</nz-breadcrumb-item>-->
            <!--<nz-breadcrumb-item>App</nz-breadcrumb-item>-->
        </nz-breadcrumb>
        <nz-layout style="padding:24px 0; background: #fff">
            <nz-sider [nzWidth]="200" style="background:#fff">
                <ul nz-menu [nzMode]="'inline'" style="height:100%">
                    <li nz-submenu [nzOpen]="true">
                        <span title><i class="anticon anticon-user"></i>表单</span>
                        <ul>
                            <li nz-menu-item>
                                <a routerLinkActive="active" [routerLink]="['/form']" >
                                    <span title>用户输入</span>
                                </a>
                            </li>
                            <li nz-menu-item>
                                <a routerLinkActive="active" [routerLink]="['/template-driven-form']" >
                                    <span title>模板验证表单</span>
                                </a>
                            </li>
                            <li nz-menu-item>
                                <a routerLinkActive="active" [routerLink]="['/form-validation']" >
                                    <span title>表单验证</span>
                                </a>
                            </li>
                            <li nz-menu-item>
                                <a routerLinkActive="active" [routerLink]="['/reactive-form']" >
                                    <span title>响应式表单</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li nz-submenu [nzOpen]="true">
                        <span title><i class="anticon anticon-user"></i>组件与模板</span>
                        <ul>
                            <li nz-menu-item>
                                <a routerLinkActive="active" [routerLink]="['/dynamic']" >
                                    <span title>动态组件</span>
                                </a>
                            </li>
                            <li nz-menu-item>
                                <a routerLinkActive="active" [routerLink]="['/attributeDirectives']" >
                                    <span title>属性指令</span>
                                </a>
                            </li>
                            <li nz-menu-item>
                                <a routerLinkActive="active" [routerLink]="['/structuralDirectives']" >
                                    <span title>结构型指令</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nz-sider>
            <!--<nz-content style="padding: 0 24px; min-height: 280px;">-->
            <nz-content style="padding: 0 24px; min-height: 680px;">
                <router-outlet></router-outlet>
            </nz-content>
        </nz-layout>
        <nz-footer style="text-align: center;">Angular Learn ©2017 Implement By Angular</nz-footer>
    </nz-content>
</nz-layout>
